.a {
  padding: 5px;
  margin: 30px;
  width: 40%;
  height: 60vh;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #3369e7, #2ede98);
  overflow-y: scroll;
  list-style: none;
}

ul{
  list-style: none;
}

#t1{
  margin-bottom: 3px;
}

#nouveau{
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 1081px) {
  .a{
    background: white;
    margin: 0;
    color: black;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    list-style: none;

  }
  #nouveau{
    margin-left: 0;
    user-select: none;
    cursor: pointer;
  }

  #t1{
    margin-bottom: 3px;
    margin-top: 50px;
  }

}